Node_red_flow.json
[{"id":"d7dc235d.a8cd7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"276cc4ed.451f7c","type":"ui_form","z":"d7dc235d.a8cd7","name":"","label":"","group":"4e32576f.42a9d8","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["297d0423.c8c68c"]]},{"id":"297d0423.c8c68c","type":"function","z":"d7dc235d.a8cd7","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["d8faf3ad.fd6dd","da83dd8a.ec5c4"]]},{"id":"d8faf3ad.fd6dd","type":"watson-conversation-v1","z":"d7dc235d.a8cd7","name":"","workspaceid":"bbfd06d4-1eb9-4cea-ac51-fef4e9ec684a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/eb666e36-c9b7-4f5e-8cc9-687acdc35fb1","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["20c2c403.dc37ec","f9465a11.8a6478"]]},{"id":"f9465a11.8a6478","type":"function","z":"d7dc235d.a8cd7","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["20c2c403.dc37ec","c91cb421.677138","d6fc167e.6d28e8","dae32bad.5ee978"]]},{"id":"20c2c403.dc37ec","type":"debug","z":"d7dc235d.a8cd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"c91cb421.677138","type":"ui_template","z":"d7dc235d.a8cd7","group":"4e32576f.42a9d8","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"d6fc167e.6d28e8","type":"ui_audio","z":"d7dc235d.a8cd7","name":"","group":"4e32576f.42a9d8","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"da83dd8a.ec5c4","type":"ui_text","z":"d7dc235d.a8cd7","group":"4e32576f.42a9d8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"dae32bad.5ee978","type":"ui_text","z":"d7dc235d.a8cd7","group":"4e32576f.42a9d8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"4e32576f.42a9d8","type":"ui_group","z":"","name":"UI","tab":"1f68fd0d.ee22b3","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f68fd0d.ee22b3","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]